<!DOCTYPE html>
<html>
    <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="stylesheet" type = "text/css" href="{{url_for('static',filename='main.css')}}">
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <title>Methodology of Consumer Drones</title>
    </head>
    <body>
        
        <h1><span id="otherheadlines">Methodology of Consumer Drones</span></h1>

        <div class = "explore">
            <ul>
                <li><a href="{{ url_for('index') }}">Home</a></li>
                <li><a href="{{ url_for('insight') }}">Methodology</a></li>
                <li><a href="{{ url_for('syma') }}">Syma X5C</a></li>
                <li><a href="{{ url_for('phantom') }}">DJI Phantom 3</a></li>
                <li><a href="{{ url_for('udi') }}">UDI U818A</a></li>
                <li><a href="{{ url_for('hubsan') }}">Hubsan X4</a></li>
                <li><a href="{{ url_for('about') }}">About Us</a></li>
            </ul>
        </div>
        
        <h2>Who Would Want a Drone?</h2>
        
        <p><span class="firstcharacter">D</span>rones pilots are growing by the hundreds every day. This is because the entrepreneurial and recreational applications that civilian drones provide are endless. Everyone from movie studios to real-estate agents are eager to utilize drones because of the stunning and inexpensive footage they provide. Restaurants are beginning to experiment with delivering food to remote areas, journalists are safely gaining access to dangerous natural disaster zones, and soccer moms are capturing little league games like never before… all because of drones!</p>
        
        <h2>Are Drones Hard to Fly?</h2>
        
        <p><span class="firstcharacter">G</span>ood news! Most drones are pretty simple to get the hang of. Usually the more expensive a drone, the more capabilities it comes with, and thus the more complicated it can be to fly. That’s why we recommend learning on the <a href="udi.html">UDI U818A</a> a reasonably priced and great beginner drone. Learning to be pilot is all a part of the drone experience, but it is best to play it safe at first and take baby steps. Start by taking your drone to an open space and keep it low to minimize the damage any crashes. Then work your way to more advanced environments.</p>
        
        <div class="Specs">
            
        <h2>Common Drone Terms</h2>
        
        <h3>Accelerometer and Gyroscopic Sensors</h3>
        
        <p><span class="firstcharacter">A</span>ccelerometers measure acceleration and tilt, while gyroscopes measure angular velocity and orientation. These work together to keep the copter balanced and positioned. If you want more specific information on how these sensors work, <a href="http://www.intorobotics.com/accelerometer-gyroscope-and-imu-sensors-tutorials/">Intro Robotics</a> provides some solid information.<br><br>And here is a cool video of the physics behind gyroscopes:</p>
        
        <div class="youtube">
        <p><iframe width="560" height="315" src="https://www.youtube.com/embed/ty9QSiVC2g0?feature=oembed" frameborder="0" allowfullscreen></iframe></p>
        </div>
            
        <h3>Camera Gimbals</h3>
        
        <p><span class="firstcharacter">C</span>amera gimbals are devices that keep cameras steady when a drone is in flight. Without a gimbal equipped drone, any footage you camera captures will be rough and unsteady. But even while flying in bumpy conditions, a gimbal system will work to keep your camera both level and smooth. A quality gimbal system is necessary for anyone serious about aerial photography and videography.<br><br>Here is a High-Definition video of a Quadcopter Camera Gimble with it's functionality:</p>
         
        <div class="youtube">    
        <p><iframe width="560" height="315" src="https://www.youtube.com/embed/xb5eEoIScpo" frameborder="0" allowfullscreen></iframe></p>
        </div>
            
        <h3>Transmitters</h3>
        
        <p><span class="firstcharacter">A</span> transmitter simply refers to the remote you use to control your drone. Transmitters can vary in size and complexity, but pretty much all of them have two joysticks that dictate navigation (left stick usually controls throttle and yaw, and right pitch &amp; roll).</p>
            
        <p><img class="in-text" src="{{url_for('static',filename='transmitter.jpg')}}" alt="transmitter" width="300" height="196" />Some controllers come equipped with an integrated screen giving you a first-person-view of what the drone’s camera is seeing. Others rely on smart phones that can attach to the transmitter for similar functionality. This feature is usually reserved for more expensive options.</p>
        
        <h3>RTF (ready-to-fly)</h3>
        
        <p><span class="firstcharacter">E</span>arly drone and quadcopter technology evolved from DIY enthusiasts, who welcomed the challenge of building their own rigs. But these days, with a lot more casual pilots taking to the skies, drones come ready-to-fly right out of the box. These new models require minimal setup time and have small learning curves.</p>
        
        <h3>RTL (return-to-launch)</h3>
        
        <p><span class="firstcharacter">R</span>eturn-to-launch is a safety function that can be seen on most GPS equipped drones. If your drone is properly setup with RTL functionality, then this usually means that any time the connection breaks between the transmitter and the drone that the aircraft will fly itself home and land. RTL can also be automatically enabled when a drone is running low on battery and decides to return home.</p> 
            
        </div>
        
        <h2>Can I use my drone for commercial purposes?</h2>
        
        <p><span class="firstcharacter">I</span>n order to use your drone for commercial purposes in the United States you must first be certified by the FAA (Federal Aviation Administration) with a Section 333 exemption. The FAA only grants operational approval on a case by case basis. For more information on petitioning for an exemption filed under <a href="https://www.faa.gov/uas/legislative_programs/section_333/ ">Section 333</a> you can also check out <a href=https://www.faa.gov/uas/legislative_programs/section_333/how_to_file_a_petition/media/section333_public_guidance.pdf>here</a>.
<br><br>As of 06/09/15, the FAA had granted 548 petitions filed under section 333.</p>
     
    <footer>
    <p>Copyright © 2015 M MOSTAGIR BHUIYAN</p>
    </footer>
        <p>
	     <a href="http://validator.w3.org/#validate_by_upload">
	        <img style="border:0;" 
                 src="http://www.w3.org/Icons/valid-xhtml11" alt="XHTML1.1 validation"/>
   	     </a>


	     <a href="http://jigsaw.w3.org/css-validator/#validate_by_upload">
	        <img style="border:0;"
                 src="http://jigsaw.w3.org/css-validator/images/vcss" alt="CSS validation"/>
	     </a>
	</p>
    </body>
    
</html>