<!DOCTYPE html>
<html>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" type = "text/css" href="{{url_for('static',filename='main.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='styler.css')}}">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script type="text/javascript" src="{{url_for('static',filename='jquery-styler.js')}}"></script>
    <script type="text/javascript">
        $(window).load(function() {
         $('#bhuiyan').orbit({
              bullets: true
         });
     });
        </script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <title>DJI Phantom 3</title>
    </head>
    <body>
        
        <h1><span id="otherheadlines">DJI Phantom 3</span></h1>

        <div class = "explore">
            <ul>
                <li><a href="{{ url_for('index') }}">Home</a></li>
                <li><a href="{{ url_for('insight') }}">Methodology</a></li>
                <li><a href="{{ url_for('syma') }}">Syma X5C</a></li>
                <li><a href="{{ url_for('phantom') }}">DJI Phantom 3</a></li>
                <li><a href="{{ url_for('udi') }}">UDI U818A</a></li>
                <li><a href="{{ url_for('hubsan') }}">Hubsan X4</a></li>
                <li><a href="{{ url_for('about') }}">About Us</a></li>
            </ul>
        </div>
        
        <span id="subheadline"><h3><a href="{{ url_for('phantom') }}">DJI Phantom 3</a> is the most cost effective drone</h3></span>
        </div>
        
        <div class="container">
        <div id = "bhuiyan">
            <img src="{{url_for('static',filename='phantom1.jpg')}}" alt="Phantom 1" />
            <img src="{{url_for('static',filename='phantom2.jpg')}}"  alt="Phantom 2" />
            <img src="{{url_for('static',filename='phantom3.jpg')}}"  alt="Phantom 3" />
            <img src="{{url_for('static',filename='phantom4.jpg')}}"  alt="Phantom 4" />
        </div>
            <br><br><br><br>
            <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#Overview">Overview</a></li>
    <li><a data-toggle="tab" href="#Features">Features</a></li>
    <li><a data-toggle="tab" href="#Review">Review</a></li>
    <li><a data-toggle="tab" href="#Order">Order</a></li>
  </ul>
</div>
    <div class="tab-content">
    <div id="Overview" class="tab-pane fade in active">
      <h3>Overview</h3>
        
      <p>The third descendent of the Phantom line, the DJI Phantom 3 showcases the culmination of DJI’s hard work over the past decade. DJI has learned a lot in the past few generations of Phantom, and it all comes together here with the Phantom 3. For the quality and the money, there isn’t a better choice for your dollar than the Phantom 3 Standard.  The camera, the flight time, the bug-free user experience… everything in this drone’s suite of features will please 99.9% of users.<br><br>
This is a great beginner quadcopter. With incredibly smooth controls and a very simple setup, you can focus on the important things like flying and framing your shots. Whether you want to steadily hover in place for a still shot/video or effortlessly frame your desired video, the Phantom 3 is the quadcopter for you.</p>
    </div>
    <div id="Features" class="tab-pane fade">
      <h3>Features</h3>
    
    <p>
        <ul>
            <li>Flight Time:         25 min</li>
            <li>Video Recording:     2.7K Video</li>
            <li>Still Frame Quality: 12MP</li>
            <li>Charging Time:       1 Hours</li>
            <li>Created For:         Beginners</li>
            <li>Battery Type:        4S 4480mAh LiPo</li>
            <li>Price:               $662.99</li>
        </ul>          
    </p>
    </div>
    <div id="Review" class="tab-pane fade">
      <h3>Review</h3>
        
            <ul>
                <h4>Pros</h4>
                <li>Smooth controls</li>
                <li>720P real-time video feed</li>
                <li>Integrated gimbal for stabilized video</li>
                <li>4K high quality video recording</li>
                <li>Automatic failsafes for safer flying</li>
            </ul>
            <p><br><br></p>
            <ul>
                <h4>Cons</h4>
                <li>Non-interchangeable camera</li>
            </ul>
    </div>
    <div id="Order" class="tab-pane fade">
      <h3>Order</h3>
        
      <p>Are you excited and ready to order right now???Fill out the form below and recieve are affliates exclusive discounts: <br><br></p>
            <form action="{{ url_for('action') }}">
            First Name:<br>
            <input type="text" name="firstname">
            <br>
            Last Name:<br>
            <input type="text" name="lastname">
            <br>
            Email:<br>
            <input type="text" name="email">
            <br><br>
            Phone:<br>
            <input type="number" name="cell">
            <br><br>
            Which Product You Want?:<br>
            <input type="radio" name="prodcut" value="syma">Syma X5C
            <br>
            <input type="radio" name="prodcut" value="phantom" checked>DJI Phantom 3
            <br>
            <input type="radio" name="prodcut" value="udi">UDI 818A
            <br>
            <input type="radio" name="prodcut" value="hubsan">Hubsan X4
            <br><br>
            <input type="submit" value="Submit">
            </form>
    </div>
  </div>
</div> 
<footer>
    <p>Copyright © 2015 M MOSTAGIR BHUIYAN</p>
    </footer>
<p>
	     <a href="http://validator.w3.org/#validate_by_upload">
	        <img style="border:0;" 
                 src="http://www.w3.org/Icons/valid-xhtml11" alt="XHTML1.1 validation"/>
   	     </a>


	     <a href="http://jigsaw.w3.org/css-validator/#validate_by_upload">
	        <img style="border:0;"
                 src="http://jigsaw.w3.org/css-validator/images/vcss" alt="CSS validation"/>
	     </a>
	</p>
    </body>
</html>